<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
<div th:replace="~{common_student::headerStudent}">

</div>
<div class="container">
    <a href="/students/create">Create</a>
    <form method="get" action="/students">
        <input name="nameSearch" class="form-control">
        <button class="btn btn-primary">Tìm kiếm</button>
    </form>
    <h1>List Student</h1>
    <table border="1" class="table table-hover" id="example">
        <thead>
        <tr>
            <th>No</th>
            <th>Name Student</th>
            <th>Point</th>
            <th>IdCard</th>
            <th>Rank</th>
            <th>Code Class</th>
            <th>Update</th>
            <th>Delete</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="student, iter: ${listStudent}">
            <td th:text="${iter.count}"></td>
            <td th:text="${student.nameStudent}"></td>
            <td th:text="${student.point}"></td>
            <td th:text="${student.idCard}"></td>
            <td>
                <p th:if="${student.point >8}">Very good</p>
                <p th:if="${student.point >6.5 && student.point <=8}">Good</p>
                <p th:if="${student.point >5 && student.point <=6.5 }">Not good</p>
                <p th:if="${student.point >3.5 && student.point <=5}">Bad</p>
                <p th:if="${student.point <=3.5}">Very Bad</p>
            </td>
            <td th:text="${student.codeClass}"></td>
            <td><button class="btn btn-primary" ><a th:href="@{/students/{code}/update (code = ${student.code})}">Cập nhật</a></button></td>
            <td><button th:data-name="${student.nameStudent}" th:data-id = "${student.code}"  class="btn btn-danger"
                        th:onclick="changeInfo(this.getAttribute('data-name'), this.getAttribute('data-id'))" data-bs-toggle="modal" data-bs-target="#exampleModal">Xóa</button></td>
        </tr>
        </tbody>
    </table>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form action="/students/delete" method="post">
                <input id="codeStudentDelete" name="codeStudentDelete" type="hidden">
            <div class="modal-header">
                <h5 class="modal-title">Xóa học sinh?</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Bạn có muốn xóa học sinh có tên là <span id="nameStudent"></span> và code là <span id="codeStudent"></span></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
                <button type="submit" class="btn btn-primary">Xác nhận</button>
            </div>
            </form>
        </div>

    </div>
</div>
<div th:insert="~{common_student::footerStudent}">

</div>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
<script th:inline="javascript">
    function changeInfo(name, id) {
        document.getElementById("nameStudent").innerText = name;
        document.getElementById("codeStudent").innerText = id;
        document.getElementById("codeStudentDelete").value = id;
        console.log(name, id)
    }
</script>
</html>